# /etc/systemd/system/netrender-master-watchdog.service

[Unit]
Description=Watchdog for netrender's master's monitor page on local network
Documentation=https://github.com/timberline-secondary/blender-netrender-service
Wants=netrender-slave.service
Before=netrender-slave.service

[Service]
Type=simple
ExecStart=/bin/sh -c "while [ $(curl -sL -w "%{http_code}\\n" "http://192.168.43.107:8001/" -o /dev/null)  == "200" ] then sleep 1; done; echo 'Blender netrender master not accessible.'; exit 0" 
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
