# /etc/systemd/system/netrender-watchdog.service

[Unit]
Description=A service that watches for conditions desired to start and stop a Blender netrender slave
Documentation=https://github.com/timberline-secondary/blender-netrender-service
Wants=netrender-slave.service
Before=netrender-slave.service

[Service]
Type=simple
ExecStart=/bin/sh /usr/local/bin/netrender-watchdog.sh 192.168.0.#:8000
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
