# /etc/systemd/system/netrender-slave.service

[Unit]
Description=Blender netrender slave manager
Documentation=https://github.com/timberline-secondary/blender-netrender-service
BindsTo=netrender-user-watchdog.service netrender-master-watchdog.service
After=netrender-user-watchdog.service netrender-master-watchdog.service

[Service]
Type=simple
WorkingDirectory=/usr/local/share/netrender
ExecStart=/usr/bin/blender -b slave.blend --addons netrender -a -noaudio -nojoystick --enable-autoexec
Restart=on-failure

[Install]
WantedBy=netrender-user-watchdog.service netrender-master-watchdog.service
